@import '../../sassStyles/variables';

.skills{
    height: 100vh;
    padding-top: 20px;
    background-color: $White;
    &--title{
        text-align: center;
        margin: 40px 0px 20px 0;
        font-size: 40px;
        letter-spacing: 4px;
        color: $Blue;
    }
    &__logo__container{
        justify-content: center;
        align-items: center;
        margin: auto;
        flex-wrap: wrap;
        display: flex;
        width: 90vw;
        height: 170px;
        margin-top: 20px;
    }
    &__logo__card{
        //border: 2px solid $Cyan;
        box-shadow: 0 4px 10px rgba(14, 49, 40, 0.15);
        height: 120px;
        width: 140px;
        margin-left: 20px;
        border-radius: 20px;
        transition: transform .6s linear;
    }
    &__logo{
        margin-top: 50px;
        width: 70px;
        height: 70px;
        margin: 5px 35px;
        cursor: pointer;
    
     //   filter: grayscale(100%);
        transition: filter 0.3s ease-in-out;
    }
    &--description{
        display: flex;
        justify-content: center;
        margin-top: 5px;
        color: #686262;
        font-weight: 700;
        text-align: center;
    }
}
.skills__logo__card:hover .skills__logo{
    filter: grayscale(0);
}
.skills__logo__card:hover{
    transform: translateY(-10px);
    cursor: pointer;
}




















