@import '../../sassStyles/variables';
.home{
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    &__content{
        padding-top:100px;
        width: 50%;
        padding-left: 70px;
    }
    &__content--greeting{
        font-size: 24px;
        color: $Blue;
    }
    &__content--name{
        color: $Cyan;
        font-size: 45px;
        margin-top: 20px;
    }
    &__content--jobPosition{
        color: $Blue;
        font-weight: bold;
        font-size: 24px;
        margin: 20px 0;
    }
    &__content--cta{
            padding: 20px 0;
            border-radius: 10px;
            margin-top: 20px;
            width: 200px;
            background-color: $Cyan;
            color: $White;
            font-weight: 600;
            font-size: 23px;
            border: none;
            box-shadow: inset 0 0 0 0 $Blue;
            transition:cubic-bezier(0.215, 0.610, 0.355, 1) 0.3s;      
        }
        &__content--cta:hover{
            box-shadow: inset 0 100px 0 0 $Blue ;
        }
    &__homeImage{
        height: 100%;
        width: 50%;
    }
    &__homeImage--image{
        padding-left:50px;
        width: 600px;
        height: 600px;
    }
}